/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}


body {
  display: flex;
  height: 100vh;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
  background-color: #000;
  font-family: "Merriweather", serif;
}

/* Main Container */
.watch-card {
  width: 650px;
  height: 533px;
  background-color: #a7a8cd;
}

/* Container for all contents */
.watch-card__content {
  position: relative;
  width: 55%;
  height: 80%;
  margin: 36px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Small banner at the top left corner */
.banner {
  position: absolute;
  top: 8px;
  left: -8px;
  font-size: 0.85rem;
  font-weight: 800;
  padding: 7px 18px 7px 8px;
  border-radius: 5px 20px 20px 5px;
  background-color: #fcf8b8;
}

img {
  width: 100%;
  height: 256px;
  border-radius: 8px 8px 0 0;
}

h3 {
  margin: 0;
}

article {
  padding: 20px 20px 0 20px;
}

article p {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 10px 0;
}

/* fainty title beside "Novus watch" */
.watch-card__title-small {
  color: #8d8c8c;
  font-weight: 400;
  font-size: 0.9rem;
}
