@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
:root {
  --color-text-primary: #011c34;
  --color-text-secondary: #737373;
  --color-custom-green: #2ec4b6;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f6fcfb;
  font-family: "Sofia Sans", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 30px;
}

header {
  margin: 7% 10% 0 10%;
}

.header,
.signup__form {
  flex: 1;
}

footer {
  flex-basis: 100%;
}

section {
  max-width: 540px;
}

.logo {
  width: 80px;
  height: auto;
}

.logo img {
  width: 100%;
}

.header h1 {
  font-weight: 800;
  font-size: 40px;
  font-family: Lato, "Sofia Sans";
  margin: 15px 0;
  color: #000b0a;
}

.header h1,
.title__description p {
  padding-left: 10px;
}

.title__description p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-secondary);
}

.mobile__description {
  display: none;
}

/* Form container */
.signup__form {
  width: 100%;
  max-width: 600px;
  margin: 1.5% 10% 0 0;
  background-color: #ffffff;
  box-shadow: 0 4px 50px 0 #0408131a;
}

/* Form fieldset */
form .form-grid {
  display: grid;
  gap: 20px;
  padding: 30px;
  grid-template-columns: repeat(2, 1fr);
}

/* Label details */
.form-field .form-label {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.form-input,
.form-select {
  width: 100%;
  height: 40px;
  outline: none;
  color: var(--color-text-secondary);
  appearance: none;
  font-size: 12px;
  margin-top: 5px;
  border-radius: 2px;
  padding-left: 15px;
  border: 1.5px solid #f0f0f0;
  transition: border-color 0.2s ease;
}

.form-input:focus,
.form-select:focus {
  border-color: #2ec4b6;
  outline: none;
}

.form-field .select-wrapper {
  position: relative;
}

/* Custom select icons */
.select-wrapper::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /></svg>')
    no-repeat center;
  pointer-events: none;
}

/* custom calendar icon styling */
input[type="date"] {
  background: url(./assets/calender.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95%;
  font-style: "Sofia Sana";
  font-weight: 400;
}

/* Make default (date type) calendar icon invisible */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* activity level, Password & Reg button */
.form-grid .form-field-full,
.form-grid .form-field-full {
  grid-column: span 2;
}

/* Registration button */
.form-submit {
  width: 100%;
  border: none;
  padding: 15px;
  color: #ffffff;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-custom-green);
  transition: opacity 0.2s ease;
  box-shadow: 0 10px 40px 0 #0000001a;
}

.form-submit:hover {
  opacity: 0.8;
}

/* Privacy policy agreement */
footer {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  text-align: right;
  color: #000000;
  margin: -4% 13.5% 0 0;
}

/* Anchor tags: Terms & C and Privacy policy */
.form-footer a {
  color: var(--color-custom-green);
}

/* ========================= RWD (Mobile) ========================== */

@media (max-width: 768px) {
  body {
    flex-direction: column;
    padding: 10px;
    margin-top: 25px;
  }

  .logo {
    width: 60px;
    height: auto;
  }

  section {
    max-width: 100%;
  }

  main {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 10px;
    width: 100%;
  }

  .header {
    margin: 0;
  }

  .desktop__description {
    display: none;
  }

  .mobile__description {
    display: block;
    font-size: 18px;
    font-weight: 100;
    color: var(--color-text-secondary);
    margin: 15px 0;
  }

  .signup__form {
    margin: 20px 0;
    width: 100%;
  }

  form .form-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .form-field {
    grid-column: span 2;
  }

  .form-submit {
    margin: 0;
  }

}
